In [1]:
#import necessary libraries for the analysis
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('/Users/ceo/Downloads/Send Anywhere (2023-04-11 16-18-09)/brewery_data.csv')
df

,SALES_ID,SALES_REP,EMAILS,BRANDS,PLANT_COST,UNIT_PRICE,QUANTITY,COST,PROFIT,COUNTRIES,REGION,MONTHS,YEARS
0,10101,Jardine,jard@gmail.com,trophy,150,200,725,145000,36250,Ghana,Southeast,January,2019
1,10102,Gill,gillhell@uk.com,budweiser,250,500,815,407500,203750,Nigeria,west,February,2018
2,10103,Sorvino,sorvi2000@gmail.com,castle lite,180,450,937,421650,252990,Togo,southsouth,March,2018
3,10104,Jones,jone.ai@yahoo.com,eagle lager,170,250,765,191250,61200,Benin,northwest,April,2018
4,10105,Andrews,andy@gmail.com,hero,150,200,836,167200,41800,Senegal,northeast,May,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1042,11143,Jardine,jard@gmail.com,grand malt,90,150,962,144300,57720,Togo,northeast,November,2017
1043,11144,Jardine,jard@gmail.com,trophy,150,200,892,178400,44600,Benin,northcentral,December,2017
1044,11145,Andrews,andy@gmail.com,budweiser,250,500,816,408000,204000,Senegal,Southeast,January,2019
1045,11146,Jones,jone.ai@yahoo.com,castle lite,180,450,939,422550,253530,Ghana,west,February,2017
1046,11147,Morgan,morganny@gmail.com,eagle lager,170,250,935,233750,74800,Nigeria,southsouth,March,2019

In [3]:
#Perform initial check on the dataset before working on it.
#they are shape, info ,type & duplicates

In [4]:
df.info()
#to know your column data types and ensure they are accurate

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1047 entries, 0 to 1046
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   SALES_ID    1047 non-null   int64
 1   SALES_REP   1047 non-null   object
 2   EMAILS      1047 non-null   object
 3   BRANDS      1047 non-null   object
 4   PLANT_COST  1047 non-null   int64
 5   UNIT_PRICE  1047 non-null   int64
 6   QUANTITY    1047 non-null   int64
 7   COST        1047 non-null   int64
 8   PROFIT      1047 non-null   int64
 9   COUNTRIES   1047 non-null   object
 10  REGION      1047 non-null   object
 11  MONTHS      1047 non-null   object
 12  YEARS       1047 non-null   int64
dtypes: int64(7), object(6)
memory usage: 106.5+ KB

In [5]:
df.shape
#to know the shape of your dataset. (rows,columns)

(1047, 13)

In [6]:
df.isna().sum()
#to know the number of empty data by column

SALES_ID      0
SALES_REP     0
EMAILS        0
BRANDS        0
PLANT_COST    0
UNIT_PRICE    0
QUANTITY      0
COST          0
PROFIT        0
COUNTRIES     0
REGION        0
MONTHS        0
YEARS         0
dtype: int64

In [7]:
#To see a list of duplicated ROWS in large dataset
df[df.duplicated()]

Empty DataFrame
Columns: [SALES_ID, SALES_REP, EMAILS, BRANDS, PLANT_COST, UNIT_PRICE, QUANTITY, COST, PROFIT, COUNTRIES, REGION, MONTHS, YEARS]
Index: []

In [8]:
df

,SALES_ID,SALES_REP,EMAILS,BRANDS,PLANT_COST,UNIT_PRICE,QUANTITY,COST,PROFIT,COUNTRIES,REGION,MONTHS,YEARS
0,10101,Jardine,jard@gmail.com,trophy,150,200,725,145000,36250,Ghana,Southeast,January,2019
1,10102,Gill,gillhell@uk.com,budweiser,250,500,815,407500,203750,Nigeria,west,February,2018
2,10103,Sorvino,sorvi2000@gmail.com,castle lite,180,450,937,421650,252990,Togo,southsouth,March,2018
3,10104,Jones,jone.ai@yahoo.com,eagle lager,170,250,765,191250,61200,Benin,northwest,April,2018
4,10105,Andrews,andy@gmail.com,hero,150,200,836,167200,41800,Senegal,northeast,May,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1042,11143,Jardine,jard@gmail.com,grand malt,90,150,962,144300,57720,Togo,northeast,November,2017
1043,11144,Jardine,jard@gmail.com,trophy,150,200,892,178400,44600,Benin,northcentral,December,2017
1044,11145,Andrews,andy@gmail.com,budweiser,250,500,816,408000,204000,Senegal,Southeast,January,2019
1045,11146,Jones,jone.ai@yahoo.com,castle lite,180,450,939,422550,253530,Ghana,west,February,2017
1046,11147,Morgan,morganny@gmail.com,eagle lager,170,250,935,233750,74800,Nigeria,southsouth,March,2019

`1. Within the space of the last three years, what was the profit worth of the breweries, inclusive of the anglophone and the francophone territories?`

In [9]:
#To find the unique years in the year column
df['YEARS'].unique()

array([2019, 2018, 2017])

In [10]:
#To find the no. of Unique years in the year column
df['YEARS'].nunique()

3

In [11]:
#To find the unique countries in the countries column. (This will help you dentify anlophone and francophone territories)
df['COUNTRIES'].unique()

array(['Ghana', 'Nigeria', 'Togo', 'Benin', 'Senegal'], dtype=object)

`We can Note that we have confirmed that the dataset contains only countries within anglophone & francophone territories`
`We can also identify that there are only 3 years with wich this data refers to.`
`Hence we can act on the full Dataset`

In [12]:
#To find the profit worth
df['PROFIT'].sum()

105587420

`2. Compare the total profit between these two territories in order for the territory manager, Mr. Stone to make a strategic decision that will aid profit maximization in 2020.`

In [13]:
#To filter the dataframe by anglophone countries. Use:
anglo = df[(df['COUNTRIES']== 'Nigeria')|(df['COUNTRIES']=='Ghana')]
anglo

,SALES_ID,SALES_REP,EMAILS,BRANDS,PLANT_COST,UNIT_PRICE,QUANTITY,COST,PROFIT,COUNTRIES,REGION,MONTHS,YEARS
0,10101,Jardine,jard@gmail.com,trophy,150,200,725,145000,36250,Ghana,Southeast,January,2019
1,10102,Gill,gillhell@uk.com,budweiser,250,500,815,407500,203750,Nigeria,west,February,2018
5,10106,Jardine,jard@gmail.com,beta malt,80,150,798,119700,55860,Ghana,northcentral,June,2019
6,10107,Thompson,thomp@uk.com,grand malt,90,150,954,143100,57240,Nigeria,Southeast,July,2017
10,10111,Parent,parentty@uk.com,eagle lager,170,250,861,215250,68880,Ghana,northeast,November,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1036,11137,Kivell,kivel_go@yahoo.com,trophy,150,200,974,194800,48700,Nigeria,northeast,May,2017
1040,11141,Thompson,thomp@uk.com,hero,150,200,903,180600,45150,Ghana,southsouth,September,2019
1041,11142,Andrews,andy@gmail.com,beta malt,80,150,740,111000,51800,Nigeria,northwest,October,2018
1045,11146,Jones,jone.ai@yahoo.com,castle lite,180,450,939,422550,253530,Ghana,west,February,2017
1046,11147,Morgan,morganny@gmail.com,eagle lager,170,250,935,233750,74800,Nigeria,southsouth,March,2019

In [14]:
#OR...

In [15]:
anglophone = df[df.COUNTRIES.isin(['Nigeria','Ghana'])]
anglophone

,SALES_ID,SALES_REP,EMAILS,BRANDS,PLANT_COST,UNIT_PRICE,QUANTITY,COST,PROFIT,COUNTRIES,REGION,MONTHS,YEARS
0,10101,Jardine,jard@gmail.com,trophy,150,200,725,145000,36250,Ghana,Southeast,January,2019
1,10102,Gill,gillhell@uk.com,budweiser,250,500,815,407500,203750,Nigeria,west,February,2018
5,10106,Jardine,jard@gmail.com,beta malt,80,150,798,119700,55860,Ghana,northcentral,June,2019
6,10107,Thompson,thomp@uk.com,grand malt,90,150,954,143100,57240,Nigeria,Southeast,July,2017
10,10111,Parent,parentty@uk.com,eagle lager,170,250,861,215250,68880,Ghana,northeast,November,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1036,11137,Kivell,kivel_go@yahoo.com,trophy,150,200,974,194800,48700,Nigeria,northeast,May,2017
1040,11141,Thompson,thomp@uk.com,hero,150,200,903,180600,45150,Ghana,southsouth,September,2019
1041,11142,Andrews,andy@gmail.com,beta malt,80,150,740,111000,51800,Nigeria,northwest,October,2018
1045,11146,Jones,jone.ai@yahoo.com,castle lite,180,450,939,422550,253530,Ghana,west,February,2017
1046,11147,Morgan,morganny@gmail.com,eagle lager,170,250,935,233750,74800,Nigeria,southsouth,March,2019

In [16]:
#To filter the dataframe by francophone countries. Use:
franc = df[(df['COUNTRIES']== 'Benin')|(df['COUNTRIES']=='Togo')|(df['COUNTRIES']=='Senegal')]
franc

,SALES_ID,SALES_REP,EMAILS,BRANDS,PLANT_COST,UNIT_PRICE,QUANTITY,COST,PROFIT,COUNTRIES,REGION,MONTHS,YEARS
2,10103,Sorvino,sorvi2000@gmail.com,castle lite,180,450,937,421650,252990,Togo,southsouth,March,2018
3,10104,Jones,jone.ai@yahoo.com,eagle lager,170,250,765,191250,61200,Benin,northwest,April,2018
4,10105,Andrews,andy@gmail.com,hero,150,200,836,167200,41800,Senegal,northeast,May,2017
7,10108,Jones,jone.ai@yahoo.com,trophy,150,200,812,162400,40600,Togo,west,August,2018
8,10109,Morgan,morganny@gmail.com,budweiser,250,500,700,350000,175000,Benin,southsouth,September,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1038,11139,Gill,gillhell@uk.com,castle lite,180,450,907,408150,244890,Benin,Southeast,July,2017
1039,11140,Sorvino,sorvi2000@gmail.com,eagle lager,170,250,949,237250,75920,Senegal,west,August,2017
1042,11143,Jardine,jard@gmail.com,grand malt,90,150,962,144300,57720,Togo,northeast,November,2017
1043,11144,Jardine,jard@gmail.com,trophy,150,200,892,178400,44600,Benin,northcentral,December,2017
1044,11145,Andrews,andy@gmail.com,budweiser,250,500,816,408000,204000,Senegal,Southeast,January,2019

In [17]:
#OR

In [18]:
franco = df[df.COUNTRIES.isin(['Benin','Togo','Senegal'])]
franco

,SALES_ID,SALES_REP,EMAILS,BRANDS,PLANT_COST,UNIT_PRICE,QUANTITY,COST,PROFIT,COUNTRIES,REGION,MONTHS,YEARS
2,10103,Sorvino,sorvi2000@gmail.com,castle lite,180,450,937,421650,252990,Togo,southsouth,March,2018
3,10104,Jones,jone.ai@yahoo.com,eagle lager,170,250,765,191250,61200,Benin,northwest,April,2018
4,10105,Andrews,andy@gmail.com,hero,150,200,836,167200,41800,Senegal,northeast,May,2017
7,10108,Jones,jone.ai@yahoo.com,trophy,150,200,812,162400,40600,Togo,west,August,2018
8,10109,Morgan,morganny@gmail.com,budweiser,250,500,700,350000,175000,Benin,southsouth,September,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1038,11139,Gill,gillhell@uk.com,castle lite,180,450,907,408150,244890,Benin,Southeast,July,2017
1039,11140,Sorvino,sorvi2000@gmail.com,eagle lager,170,250,949,237250,75920,Senegal,west,August,2017
1042,11143,Jardine,jard@gmail.com,grand malt,90,150,962,144300,57720,Togo,northeast,November,2017
1043,11144,Jardine,jard@gmail.com,trophy,150,200,892,178400,44600,Benin,northcentral,December,2017
1044,11145,Andrews,andy@gmail.com,budweiser,250,500,816,408000,204000,Senegal,Southeast,January,2019

In [19]:
#OR
#Use the 'Bitwise' operator
francophone = df[~df.COUNTRIES.isin(['Nigeria','Ghana'])]
francophone

,SALES_ID,SALES_REP,EMAILS,BRANDS,PLANT_COST,UNIT_PRICE,QUANTITY,COST,PROFIT,COUNTRIES,REGION,MONTHS,YEARS
2,10103,Sorvino,sorvi2000@gmail.com,castle lite,180,450,937,421650,252990,Togo,southsouth,March,2018
3,10104,Jones,jone.ai@yahoo.com,eagle lager,170,250,765,191250,61200,Benin,northwest,April,2018
4,10105,Andrews,andy@gmail.com,hero,150,200,836,167200,41800,Senegal,northeast,May,2017
7,10108,Jones,jone.ai@yahoo.com,trophy,150,200,812,162400,40600,Togo,west,August,2018
8,10109,Morgan,morganny@gmail.com,budweiser,250,500,700,350000,175000,Benin,southsouth,September,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1038,11139,Gill,gillhell@uk.com,castle lite,180,450,907,408150,244890,Benin,Southeast,July,2017
1039,11140,Sorvino,sorvi2000@gmail.com,eagle lager,170,250,949,237250,75920,Senegal,west,August,2017
1042,11143,Jardine,jard@gmail.com,grand malt,90,150,962,144300,57720,Togo,northeast,November,2017
1043,11144,Jardine,jard@gmail.com,trophy,150,200,892,178400,44600,Benin,northcentral,December,2017
1044,11145,Andrews,andy@gmail.com,budweiser,250,500,816,408000,204000,Senegal,Southeast,January,2019

In [20]:
#STUDY ALL BITWISE OPERATORS FOR PYTHON

In [21]:
#All profits of anglophone&francophone countries

In [22]:
anglo['PROFIT'].sum()

42389260

In [23]:
franco['PROFIT'].sum()

63198160

`3. Country that generated the highest profit in 2019`

In [24]:
#First, find the country with the highest profit.
Profit_Max = df.groupby('COUNTRIES')['PROFIT'].sum()
Profit_Max

COUNTRIES
Benin      20961970
Ghana      21013050
Nigeria    21376210
Senegal    21485190
Togo       20751000
Name: PROFIT, dtype: int64

In [25]:
#To find all transactions in 2019 only
Profit_2019 = df [df.YEARS.isin([2019])]
Profit_2019_M = Profit_2019.groupby('COUNTRIES')['PROFIT'].sum().sort_values(ascending = False)
Profit_2019_M

COUNTRIES
Ghana      7144070
Senegal    6687560
Togo       6109960
Benin      5273340
Nigeria    4805320
Name: PROFIT, dtype: int64

In [26]:
#From above, the country that generated the highest profty is GHANA with 7144070

`4.  Help him find the year with the highest profit.`

In [27]:
#To find the year with the highest profit, First find the profits for each year.
Profitby_Year = df.groupby('YEARS')['PROFIT'].sum()
Profitby_Year

YEARS
2017    38503320
2018    37063850
2019    30020250
Name: PROFIT, dtype: int64

In [28]:
#From above, the YEAR with highest profit is 2017

In [29]:
#TO slice through a DataFrame.
cell = df[df['PROFIT']==38150]
cell

,SALES_ID,SALES_REP,EMAILS,BRANDS,PLANT_COST,UNIT_PRICE,QUANTITY,COST,PROFIT,COUNTRIES,REGION,MONTHS,YEARS
543,10644,Morgan,morganny@gmail.com,hero,150,200,763,152600,38150,Benin,northwest,April,2018
987,11088,Jardine,jard@gmail.com,trophy,150,200,763,152600,38150,Togo,northwest,April,2017
1019,11120,Jones,jone.ai@yahoo.com,hero,150,200,763,152600,38150,Senegal,northcentral,December,2018


`5. Which month in the three years was the least profit generated?`

In [30]:
#First find the total profit by Month & year & keep as DF
Profitby_Month_and_year = df.groupby(['MONTHS','YEARS'])['PROFIT'].sum().reset_index()
Profitby_Month_and_year

       MONTHS  YEARS   PROFIT
0       April   2017  2574380
1       April   2018  3147980
2       April   2019  2851470
3      August   2017  3315910
4      August   2018  2432230
5      August   2019  2982800
6    December   2017  2836350
7    December   2018  3902160
8    December   2019  2048780
9    February   2017  2912440
10   February   2018  4749130
11   February   2019  1366880
12    January   2017  3200220
13    January   2018  2259610
14    January   2019  3263160
15       July   2017  3042410
16       July   2018  2799260
17       July   2019  2945340
18       June   2017  2686370
19       June   2018  3472990
20       June   2019  2669080
21      March   2017  3294680
22      March   2018  3240830
23      March   2019  2530620
24        May   2017  4002260
25        May   2018  2196950
26        May   2019  2573040
27   November   2017  3413010
28   November   2018  2731710
29   November   2019  2675610
30    October   2017  3530460
31    October   2018  3015770
32    October   2019  2220870
33  September   2017  3694830
34  September   2018  3115230
35  September   2019  1892600

In [31]:
#Now, find the total profit by each month for the three years & sort in ascending order & keep as Df
Total_profit_by_months = Profitby_Month_and_year.groupby(['MONTHS'])['PROFIT'].sum().sort_values().reset_index()
Total_profit_by_months

       MONTHS   PROFIT
0       April  8573830
1   September  8702660
2     January  8722990
3      August  8730940
4     October  8767100
5         May  8772250
6        July  8787010
7    December  8787290
8    November  8820330
9        June  8828440
10   February  9028450
11      March  9066130

In [32]:
#Finally, select the Top row which is the month with the Min profit generated.
Total_profit_by_months.loc[0]

MONTHS      April
PROFIT    8573830
Name: 0, dtype: object

`6. What was the minimum profit in the month of December 2018?`

In [33]:
df

,SALES_ID,SALES_REP,EMAILS,BRANDS,PLANT_COST,UNIT_PRICE,QUANTITY,COST,PROFIT,COUNTRIES,REGION,MONTHS,YEARS
0,10101,Jardine,jard@gmail.com,trophy,150,200,725,145000,36250,Ghana,Southeast,January,2019
1,10102,Gill,gillhell@uk.com,budweiser,250,500,815,407500,203750,Nigeria,west,February,2018
2,10103,Sorvino,sorvi2000@gmail.com,castle lite,180,450,937,421650,252990,Togo,southsouth,March,2018
3,10104,Jones,jone.ai@yahoo.com,eagle lager,170,250,765,191250,61200,Benin,northwest,April,2018
4,10105,Andrews,andy@gmail.com,hero,150,200,836,167200,41800,Senegal,northeast,May,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1042,11143,Jardine,jard@gmail.com,grand malt,90,150,962,144300,57720,Togo,northeast,November,2017
1043,11144,Jardine,jard@gmail.com,trophy,150,200,892,178400,44600,Benin,northcentral,December,2017
1044,11145,Andrews,andy@gmail.com,budweiser,250,500,816,408000,204000,Senegal,Southeast,January,2019
1045,11146,Jones,jone.ai@yahoo.com,castle lite,180,450,939,422550,253530,Ghana,west,February,2017
1046,11147,Morgan,morganny@gmail.com,eagle lager,170,250,935,233750,74800,Nigeria,southsouth,March,2019

In [34]:
#Find the sales for dec 2018
sales_dec2018 = df[df['YEARS'].isin([2018]) & df['MONTHS'].isin(['December'])]
sales_dec2018

,SALES_ID,SALES_REP,EMAILS,BRANDS,PLANT_COST,UNIT_PRICE,QUANTITY,COST,PROFIT,COUNTRIES,REGION,MONTHS,YEARS
71,10172,Jones,jone.ai@yahoo.com,budweiser,250,500,869,434500,217250,Nigeria,northcentral,December,2018
95,10196,Sorvino,sorvi2000@gmail.com,hero,150,200,959,191800,47950,Ghana,northcentral,December,2018
107,10208,Jardine,jard@gmail.com,castle lite,180,450,878,395100,237060,Togo,northcentral,December,2018
179,10280,Morgan,morganny@gmail.com,hero,150,200,777,155400,38850,Senegal,northcentral,December,2018
191,10292,Kivell,kivel_go@yahoo.com,castle lite,180,450,840,378000,226800,Nigeria,northcentral,December,2018
203,10304,Jones,jone.ai@yahoo.com,trophy,150,200,764,152800,38200,Benin,northcentral,December,2018
239,10340,Andrews,andy@gmail.com,budweiser,250,500,882,441000,220500,Senegal,northcentral,December,2018
287,10388,Kivell,kivel_go@yahoo.com,trophy,150,200,962,192400,48100,Togo,northcentral,December,2018
299,10400,Sorvino,sorvi2000@gmail.com,beta malt,80,150,784,117600,54880,Senegal,northcentral,December,2018
335,10436,Morgan,morganny@gmail.com,grand malt,90,150,761,114150,45660,Ghana,northcentral,December,2018
359,10460,Jardine,jard@gmail.com,castle lite,180,450,791,355950,213570,Senegal,northcentral,December,2018
407,10508,Gill,gillhell@uk.com,budweiser,250,500,906,453000,226500,Togo,northcentral,December,2018
443,10544,Jones,jone.ai@yahoo.com,castle lite,180,450,898,404100,242460,Benin,northcentral,December,2018
467,10568,Jardine,jard@gmail.com,beta malt,80,150,709,106350,49630,Togo,northcentral,December,2018
479,10580,Parent,parentty@uk.com,eagle lager,170,250,930,232500,74400,Senegal,northcentral,December,2018
491,10592,Jones,jone.ai@yahoo.com,budweiser,250,500,934,467000,233500,Nigeria,northcentral,December,2018
503,10604,Gill,gillhell@uk.com,grand malt,90,150,702,105300,42120,Benin,northcentral,December,2018
551,10652,Parent,parentty@uk.com,beta malt,80,150,750,112500,52500,Nigeria,northcentral,December,2018
587,10688,Jones,jone.ai@yahoo.com,grand malt,90,150,784,117600,47040,Togo,northcentral,December,2018
611,10712,Sorvino,sorvi2000@gmail.com,castle lite,180,450,807,363150,217890,Nigeria,northcentral,December,2018
635,10736,Jones,jone.ai@yahoo.com,beta malt,80,150,995,149250,69650,Ghana,northcentral,December,2018
647,10748,Jardine,jard@gmail.com,eagle lager,170,250,702,175500,56160,Togo,northcentral,December,2018
683,10784,Jardine,jard@gmail.com,hero,150,200,864,172800,43200,Benin,northcentral,December,2018
743,10844,Morgan,morganny@gmail.com,budweiser,250,500,891,445500,222750,Benin,northcentral,December,2018
803,10904,Jones,jone.ai@yahoo.com,beta malt,80,150,864,129600,60480,Benin,northcentral,December,2018
923,11024,Howard,howard_freeman@yahoo.com,grand malt,90,150,818,122700,49080,Benin,northcentral,December,2018
947,11048,Jardine,jard@gmail.com,castle lite,180,450,859,386550,231930,Togo,northcentral,December,2018
971,11072,Morgan,morganny@gmail.com,beta malt,80,150,832,124800,58240,Nigeria,northcentral,December,2018
995,11096,Kivell,kivel_go@yahoo.com,budweiser,250,500,995,497500,248750,Ghana,northcentral,December,2018
1007,11108,Jones,jone.ai@yahoo.com,grand malt,90,150,904,135600,54240,Togo,northcentral,December,2018
1019,11120,Jones,jone.ai@yahoo.com,hero,150,200,763,152600,38150,Senegal,northcentral,December,2018
1031,11132,Gill,gillhell@uk.com,castle lite,180,450,721,324450,194670,Nigeria,northcentral,December,2018

In [35]:
#Find the min profit for sales in dec2018
min_profit_sales_dec2018 = sales_dec2018.groupby(['YEARS','MONTHS'])['PROFIT'].min().reset_index()
min_profit_sales_dec2018

   YEARS    MONTHS  PROFIT
0   2018  December   38150

`7. Compare the profit in percentage for each of the month in 2019`

In [36]:
#Group Profit & cost by months in 2019.
#Find the total profit & total costs for each month in 2019
#Find the percentage profit for each month in 2019 (profit/cost)*100

In [37]:
df

,SALES_ID,SALES_REP,EMAILS,BRANDS,PLANT_COST,UNIT_PRICE,QUANTITY,COST,PROFIT,COUNTRIES,REGION,MONTHS,YEARS
0,10101,Jardine,jard@gmail.com,trophy,150,200,725,145000,36250,Ghana,Southeast,January,2019
1,10102,Gill,gillhell@uk.com,budweiser,250,500,815,407500,203750,Nigeria,west,February,2018
2,10103,Sorvino,sorvi2000@gmail.com,castle lite,180,450,937,421650,252990,Togo,southsouth,March,2018
3,10104,Jones,jone.ai@yahoo.com,eagle lager,170,250,765,191250,61200,Benin,northwest,April,2018
4,10105,Andrews,andy@gmail.com,hero,150,200,836,167200,41800,Senegal,northeast,May,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1042,11143,Jardine,jard@gmail.com,grand malt,90,150,962,144300,57720,Togo,northeast,November,2017
1043,11144,Jardine,jard@gmail.com,trophy,150,200,892,178400,44600,Benin,northcentral,December,2017
1044,11145,Andrews,andy@gmail.com,budweiser,250,500,816,408000,204000,Senegal,Southeast,January,2019
1045,11146,Jones,jone.ai@yahoo.com,castle lite,180,450,939,422550,253530,Ghana,west,February,2017
1046,11147,Morgan,morganny@gmail.com,eagle lager,170,250,935,233750,74800,Nigeria,southsouth,March,2019

In [38]:
#Find the total profit & total costs for each month in 2019
totalprofit_2019 = df[df['YEARS'].isin([2019])]
totalprofit_cost2019_monthly = totalprofit_2019.groupby(['MONTHS','YEARS'])['PROFIT','COST'].sum().reset_index()
totalprofit_cost2019_monthly

/var/folders/94/jfhnytlx5kz_c2mk3j8k5qgh0000gn/T/ipykernel_34685/1070776476.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  totalprofit_cost2019_monthly = totalprofit_2019.groupby(['MONTHS','YEARS'])['PROFIT','COST'].sum().reset_index()

       MONTHS  YEARS   PROFIT     COST
0       April   2019  2851470  6227650
1      August   2019  2982800  6457600
2    December   2019  2048780  4908000
3    February   2019  1366880  3556450
4     January   2019  3263160  7649200
5        July   2019  2945340  6395700
6        June   2019  2669080  6715650
7       March   2019  2530620  5924300
8         May   2019  2573040  5932250
9    November   2019  2675610  6476500
10    October   2019  2220870  5133950
11  September   2019  1892600  4948100

In [39]:
#Find the percentage profit for each month in 2019 (profit/cost)*100.
def get_percentage_profit(totalprofit_cost2019_monthly):
    profit = totalprofit_cost2019_monthly['PROFIT']
    cost = totalprofit_cost2019_monthly['COST']
    return (profit/cost)*100

In [40]:
#get the new series showing the percentage profit
percentage_profit = totalprofit_cost2019_monthly.groupby(['MONTHS','YEARS','PROFIT','COST']).apply(get_percentage_profit)
percentage_profit

MONTHS     YEARS  PROFIT   COST
April      2019   2851470  6227650  0     45.787255
August     2019   2982800  6457600  1     46.190535
December   2019   2048780  4908000  2     41.743684
February   2019   1366880  3556450  3     38.433831
January    2019   3263160  7649200  4     42.660147
July       2019   2945340  6395700  5     46.051879
June       2019   2669080  6715650  6     39.744180
March      2019   2530620  5924300  7     42.715933
May        2019   2573040  5932250  8     43.373762
November   2019   2675610  6476500  9     41.312592
October    2019   2220870  5133950  10    43.258505
September  2019   1892600  4948100  11    38.249025
dtype: float64

In [41]:
#Convert to a new frame and add to existing subset of data
percentage_profit = percentage_profit.to_frame(name = "Percentage Profit")
percentage_profit

                                    Percentage Profit
MONTHS    YEARS PROFIT  COST
April     2019  2851470 6227650 0           45.787255
August    2019  2982800 6457600 1           46.190535
December  2019  2048780 4908000 2           41.743684
February  2019  1366880 3556450 3           38.433831
January   2019  3263160 7649200 4           42.660147
July      2019  2945340 6395700 5           46.051879
June      2019  2669080 6715650 6           39.744180
March     2019  2530620 5924300 7           42.715933
May       2019  2573040 5932250 8           43.373762
November  2019  2675610 6476500 9           41.312592
October   2019  2220870 5133950 10          43.258505
September 2019  1892600 4948100 11          38.249025

In [42]:
percentage_profit= percentage_profit.reset_index().drop(columns='level_4')
percentage_profit

       MONTHS  YEARS   PROFIT     COST  Percentage Profit
0       April   2019  2851470  6227650          45.787255
1      August   2019  2982800  6457600          46.190535
2    December   2019  2048780  4908000          41.743684
3    February   2019  1366880  3556450          38.433831
4     January   2019  3263160  7649200          42.660147
5        July   2019  2945340  6395700          46.051879
6        June   2019  2669080  6715650          39.744180
7       March   2019  2530620  5924300          42.715933
8         May   2019  2573040  5932250          43.373762
9    November   2019  2675610  6476500          41.312592
10    October   2019  2220870  5133950          43.258505
11  September   2019  1892600  4948100          38.249025

`8. Which particular brand generated the highest profit in Senegal?`

In [43]:
df

,SALES_ID,SALES_REP,EMAILS,BRANDS,PLANT_COST,UNIT_PRICE,QUANTITY,COST,PROFIT,COUNTRIES,REGION,MONTHS,YEARS
0,10101,Jardine,jard@gmail.com,trophy,150,200,725,145000,36250,Ghana,Southeast,January,2019
1,10102,Gill,gillhell@uk.com,budweiser,250,500,815,407500,203750,Nigeria,west,February,2018
2,10103,Sorvino,sorvi2000@gmail.com,castle lite,180,450,937,421650,252990,Togo,southsouth,March,2018
3,10104,Jones,jone.ai@yahoo.com,eagle lager,170,250,765,191250,61200,Benin,northwest,April,2018
4,10105,Andrews,andy@gmail.com,hero,150,200,836,167200,41800,Senegal,northeast,May,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1042,11143,Jardine,jard@gmail.com,grand malt,90,150,962,144300,57720,Togo,northeast,November,2017
1043,11144,Jardine,jard@gmail.com,trophy,150,200,892,178400,44600,Benin,northcentral,December,2017
1044,11145,Andrews,andy@gmail.com,budweiser,250,500,816,408000,204000,Senegal,Southeast,January,2019
1045,11146,Jones,jone.ai@yahoo.com,castle lite,180,450,939,422550,253530,Ghana,west,February,2017
1046,11147,Morgan,morganny@gmail.com,eagle lager,170,250,935,233750,74800,Nigeria,southsouth,March,2019

In [44]:
#find the max profit for brands in senegal
senegal = df[df['COUNTRIES']=='Senegal']
senegalbrand = senegal.groupby(['BRANDS'])['PROFIT'].sum().sort_values(ascending = False)
senegalbrand

BRANDS
castle lite    7012980
budweiser      6480750
eagle lager    2061680
beta malt      1793750
grand malt     1525680
hero           1331600
trophy         1278750
Name: PROFIT, dtype: int64

`7. Compare the profit in percentage for each of the month in 2019`

In [45]:
#REDO
df

,SALES_ID,SALES_REP,EMAILS,BRANDS,PLANT_COST,UNIT_PRICE,QUANTITY,COST,PROFIT,COUNTRIES,REGION,MONTHS,YEARS
0,10101,Jardine,jard@gmail.com,trophy,150,200,725,145000,36250,Ghana,Southeast,January,2019
1,10102,Gill,gillhell@uk.com,budweiser,250,500,815,407500,203750,Nigeria,west,February,2018
2,10103,Sorvino,sorvi2000@gmail.com,castle lite,180,450,937,421650,252990,Togo,southsouth,March,2018
3,10104,Jones,jone.ai@yahoo.com,eagle lager,170,250,765,191250,61200,Benin,northwest,April,2018
4,10105,Andrews,andy@gmail.com,hero,150,200,836,167200,41800,Senegal,northeast,May,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1042,11143,Jardine,jard@gmail.com,grand malt,90,150,962,144300,57720,Togo,northeast,November,2017
1043,11144,Jardine,jard@gmail.com,trophy,150,200,892,178400,44600,Benin,northcentral,December,2017
1044,11145,Andrews,andy@gmail.com,budweiser,250,500,816,408000,204000,Senegal,Southeast,January,2019
1045,11146,Jones,jone.ai@yahoo.com,castle lite,180,450,939,422550,253530,Ghana,west,February,2017
1046,11147,Morgan,morganny@gmail.com,eagle lager,170,250,935,233750,74800,Nigeria,southsouth,March,2019

In [46]:
#method 1
#Group the data for year 2019 into a series showing profits for each month in 2019
df_2019 = df[df['YEARS'].isin([2019])]
months_in_2019 = df_2019.groupby(['MONTHS'])['PROFIT'].sum()
months_in_2019

MONTHS
April        2851470
August       2982800
December     2048780
February     1366880
January      3263160
July         2945340
June         2669080
March        2530620
May          2573040
November     2675610
October      2220870
September    1892600
Name: PROFIT, dtype: int64

In [47]:
net_profit_2019 = months_in_2019.sum()
net_profit_2019

30020250

In [48]:
months_in_2019.keys()

Index(['April', 'August', 'December', 'February', 'January', 'July', 'June',
       'March', 'May', 'November', 'October', 'September'],
      dtype='object', name='MONTHS')

In [49]:
for k,v in months_in_2019.items():
    avg = (v/net_profit_2019)*100
    
    print(k,round(avg,2))

April 9.5
August 9.94
December 6.82
February 4.55
January 10.87
July 9.81
June 8.89
March 8.43
May 8.57
November 8.91
October 7.4
September 6.3

In [50]:
#Method 2

In [51]:
#First, get a list of the profit per month
vc =  months_in_2019.reset_index()
vc

       MONTHS   PROFIT
0       April  2851470
1      August  2982800
2    December  2048780
3    February  1366880
4     January  3263160
5        July  2945340
6        June  2669080
7       March  2530620
8         May  2573040
9    November  2675610
10    October  2220870
11  September  1892600

In [52]:
dvc = vc['MONTHS'].unique()
dvc

array(['April', 'August', 'December', 'February', 'January', 'July',
       'June', 'March', 'May', 'November', 'October', 'September'],
      dtype=object)

In [53]:
#Now, Get a list of percentages per profit for each month... 
ap = []
for i in months_in_2019:
    percent_profit = round((i*100)/net_profit_2019,2)
    ap.append(percent_profit)
print(ap)

[9.5, 9.94, 6.82, 4.55, 10.87, 9.81, 8.89, 8.43, 8.57, 8.91, 7.4, 6.3]

In [54]:
#FINALLY, add both lists into a dictionary
zipp = dict(zip(dvc,ap))
print(zipp)
print()
for i, n in zipp.items():
    print(f'The Profit for {i} is {n}%')

{'April': 9.5, 'August': 9.94, 'December': 6.82, 'February': 4.55, 'January': 10.87, 'July': 9.81, 'June': 8.89, 'March': 8.43, 'May': 8.57, 'November': 8.91, 'October': 7.4, 'September': 6.3}

The Profit for April is 9.5%
The Profit for August is 9.94%
The Profit for December is 6.82%
The Profit for February is 4.55%
The Profit for January is 10.87%
The Profit for July is 9.81%
The Profit for June is 8.89%
The Profit for March is 8.43%
The Profit for May is 8.57%
The Profit for November is 8.91%
The Profit for October is 7.4%
The Profit for September is 6.3%

`BRAND ANALYSIS`

`1. Within the last two years, the brand manager wants to know the top three brands consumed in the francophone countries`

In [55]:
df

,SALES_ID,SALES_REP,EMAILS,BRANDS,PLANT_COST,UNIT_PRICE,QUANTITY,COST,PROFIT,COUNTRIES,REGION,MONTHS,YEARS
0,10101,Jardine,jard@gmail.com,trophy,150,200,725,145000,36250,Ghana,Southeast,January,2019
1,10102,Gill,gillhell@uk.com,budweiser,250,500,815,407500,203750,Nigeria,west,February,2018
2,10103,Sorvino,sorvi2000@gmail.com,castle lite,180,450,937,421650,252990,Togo,southsouth,March,2018
3,10104,Jones,jone.ai@yahoo.com,eagle lager,170,250,765,191250,61200,Benin,northwest,April,2018
4,10105,Andrews,andy@gmail.com,hero,150,200,836,167200,41800,Senegal,northeast,May,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1042,11143,Jardine,jard@gmail.com,grand malt,90,150,962,144300,57720,Togo,northeast,November,2017
1043,11144,Jardine,jard@gmail.com,trophy,150,200,892,178400,44600,Benin,northcentral,December,2017
1044,11145,Andrews,andy@gmail.com,budweiser,250,500,816,408000,204000,Senegal,Southeast,January,2019
1045,11146,Jones,jone.ai@yahoo.com,castle lite,180,450,939,422550,253530,Ghana,west,February,2017
1046,11147,Morgan,morganny@gmail.com,eagle lager,170,250,935,233750,74800,Nigeria,southsouth,March,2019

In [56]:
#First, Find the top 2 years in the dataset after which you can find the top 3 brands in terms of sales quantity

franco_top2 = franco[(franco.YEARS ==2018) | (franco.YEARS ==2019)]
brand_top2 = franco_top2.groupby(['BRANDS'])['QUANTITY'].sum().sort_values(ascending = False).index[:3]
brand_top2

Index(['trophy', 'hero', 'eagle lager'], dtype='object', name='BRANDS')

In [57]:
#2. Find out the top two choice of consumer brands in Ghana
brand_ghana = df[df.COUNTRIES =='Ghana']
ghana_top2_qty = brand_ghana.groupby(['BRANDS'])['QUANTITY'].sum().sort_values(ascending = False).index[:2]
ghana_top2_qty

Index(['eagle lager', 'castle lite'], dtype='object', name='BRANDS')

In [58]:
#3. Find out the details of beers consumed in the past three years in the most oil reached country in West Africa.
df_nigeria = df[df.COUNTRIES =='Nigeria']
df_nigeria_3yrs = df_nigeria[(df_nigeria.YEARS == 2017)|(df_nigeria.YEARS == 2018)|(df_nigeria.YEARS == 2019)]
#df_nigeria_3yrs_beer = df_nigeria_3yrs.groupby(['BRANDS'])['QUANTITY'].sum().sort_values(ascending = False).reset_index()
#df_nigeria_3yrs_beer

In [59]:
#3. Find out the details of beers consumed in the past three years in the most oil reached country in West Africa.

df_nigeria_3yrs_beer = df_nigeria_3yrs [(df_nigeria_3yrs.BRANDS == 'budweiser') | (df_nigeria_3yrs.BRANDS == 'eagle lager') |(df_nigeria_3yrs.BRANDS == 'hero') | (df_nigeria_3yrs.BRANDS == 'castle lite')| (df_nigeria_3yrs.BRANDS == 'trophy')]
nigeria_beer =  df_nigeria_3yrs_beer.groupby(['BRANDS'])['QUANTITY'].sum().sort_values(ascending = False)
nigeria_beer

BRANDS
budweiser      26153
eagle lager    25872
hero           25811
trophy         25743
castle lite    25681
Name: QUANTITY, dtype: int64

In [60]:
#4. Favorites malt brand in Anglophone region between 2018 and 2019
anglo_18_19 = anglo[(anglo.YEARS == 2019)|(anglo.YEARS == 2018)]
#anglo_18_19_fav = anglo_18_19.groupby(['BRANDS'])['QUANTITY'].sum().sort_values(ascending=False).index[0]
#anglo_18_19_fav

In [61]:
anglo_18_19.BRANDS.unique()

array(['trophy', 'budweiser', 'beta malt', 'hero', 'castle lite',
       'eagle lager', 'grand malt'], dtype=object)

In [62]:
#4. Favorites malt brand in Anglophone region between 2018 and 2019
anglo_18_19_malt = anglo_18_19[(anglo_18_19.BRANDS == 'beta malt') | (anglo_18_19.BRANDS == 'grand malt')]
anglo_18_19_fav_malt =  anglo_18_19_malt.groupby(['BRANDS'])['QUANTITY'].sum().sort_values(ascending = False)
anglo_18_19_fav_malt

BRANDS
grand malt    33221
beta malt     32118
Name: QUANTITY, dtype: int64

In [63]:
#5. Which brands sol`d the highest in 2019 in Nigeria?
dfng_2019 = df_2019[df_2019.COUNTRIES == 'Nigeria']
df_top2019 = dfng_2019.groupby(['BRANDS'])['QUANTITY'].sum().sort_values(ascending = False)

df_top2019

BRANDS
hero           9622
eagle lager    8401
beta malt      8389
grand malt     8125
trophy         5803
budweiser      5490
castle lite    3388
Name: QUANTITY, dtype: int64

In [64]:
df.BRANDS.unique()

array(['trophy', 'budweiser', 'castle lite', 'eagle lager', 'hero',
       'beta malt', 'grand malt'], dtype=object)

In [65]:
#6. Favorites brand in South_South region in Nigeria
southsouth_ng = df_nigeria[df_nigeria.REGION.isin(['southsouth'])]
fav_southsouth_ng = southsouth_ng.groupby(['BRANDS'])['QUANTITY'].sum().sort_values(ascending = False)

fav_southsouth_ng

BRANDS
eagle lager    4551
trophy         4468
hero           4456
budweiser      4328
castle lite    4287
beta malt      4257
grand malt     3914
Name: QUANTITY, dtype: int64

In [66]:
#7. Beer consumption in Nigeria
beer_ng = df_nigeria[~df_nigeria.BRANDS.isin(['beta malt', 'grand malt'])]
beer_cons = beer_ng['QUANTITY'].sum()
beer_cons

129260

In [67]:
#8. Level of consumption of Budweiser in the regions in Nigeria
budweiser_ng =df_nigeria[df_nigeria['BRANDS'] =='budweiser']
b_ng  = budweiser_ng .groupby(['REGION'])['QUANTITY'].sum().sort_values(ascending = False).reset_index()
b_ng

          REGION  QUANTITY
0           west      4620
1  northcentral       4498
2     southsouth      4328
3     northeast       4320
4      northwest      4274
5      Southeast      4113

In [68]:
#9. Level of consumption of Budweiser in the regions in Nigeria in 2019 (Decision on Promo)
budweiser_ng_19 = budweiser_ng[budweiser_ng['YEARS'] == 2019]
b_ng_19 = budweiser_ng_19.groupby(['REGION'])['QUANTITY'].sum().sort_values(ascending=False).reset_index()
b_ng_19

       REGION  QUANTITY
0   Southeast      1821
1  northeast        990
2   northwest       948
3        west       884
4  southsouth       847

`COUNTRIES ANALYSIS`

In [69]:
#1. Country with the highest consumption of beer
consumption = df.groupby(['COUNTRIES'])['QUANTITY'].sum().sort_values(ascending = False).reset_index()
consumption

  COUNTRIES  QUANTITY
0   Senegal    180928
1   Nigeria    179307
2     Ghana    178255
3     Benin    176324
4      Togo    175908

In [70]:
#2. Highest sales personnel of Budweiser in Senegal
budweiser_senegal = senegal.groupby(['SALES_REP'])['QUANTITY'].sum().sort_values(ascending = False).index[0]
budweiser_senegal

'Jones'

In [71]:
#3. Country with the highest profit of the fourth quarter in 2019
#q4 is sum of Oct,Nov,Dec

q4_2019 = df_2019[df_2019['MONTHS'].isin(['October','Novemeber','December'])]
q4_2019_total= q4_2019.groupby(['COUNTRIES'])['PROFIT'].sum().sort_values(ascending = False).reset_index()
q4_2019_total

  COUNTRIES   PROFIT
0     Ghana  1004410
1      Togo   995720
2   Nigeria   925550
3     Benin   866550
4   Senegal   477420

In [72]:
df

,SALES_ID,SALES_REP,EMAILS,BRANDS,PLANT_COST,UNIT_PRICE,QUANTITY,COST,PROFIT,COUNTRIES,REGION,MONTHS,YEARS
0,10101,Jardine,jard@gmail.com,trophy,150,200,725,145000,36250,Ghana,Southeast,January,2019
1,10102,Gill,gillhell@uk.com,budweiser,250,500,815,407500,203750,Nigeria,west,February,2018
2,10103,Sorvino,sorvi2000@gmail.com,castle lite,180,450,937,421650,252990,Togo,southsouth,March,2018
3,10104,Jones,jone.ai@yahoo.com,eagle lager,170,250,765,191250,61200,Benin,northwest,April,2018
4,10105,Andrews,andy@gmail.com,hero,150,200,836,167200,41800,Senegal,northeast,May,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1042,11143,Jardine,jard@gmail.com,grand malt,90,150,962,144300,57720,Togo,northeast,November,2017
1043,11144,Jardine,jard@gmail.com,trophy,150,200,892,178400,44600,Benin,northcentral,December,2017
1044,11145,Andrews,andy@gmail.com,budweiser,250,500,816,408000,204000,Senegal,Southeast,January,2019
1045,11146,Jones,jone.ai@yahoo.com,castle lite,180,450,939,422550,253530,Ghana,west,February,2017
1046,11147,Morgan,morganny@gmail.com,eagle lager,170,250,935,233750,74800,Nigeria,southsouth,March,2019

`More Analysis`

In [73]:
#1.Country with the highest profit in 2018 using gmail
# here you must expand the split to cover both new columns being created. (use expand = True)

In [74]:
df[['username','domain_name']] = df['EMAILS'].str.split('@', expand = True)
df_2018_gmail = df[(df.YEARS == 2018)&(df.domain_name == 'gmail.com')]
df_2018_gmail_profit = df_2018_gmail.groupby(['COUNTRIES'])['PROFIT'].sum().sort_values(ascending = False)
df_2018_gmail_profit

COUNTRIES
Togo       4182880
Nigeria    2877660
Benin      2780820
Senegal    2713000
Ghana      2437160
Name: PROFIT, dtype: int64

In [75]:
df_2018_gmail

,SALES_ID,SALES_REP,EMAILS,BRANDS,PLANT_COST,UNIT_PRICE,QUANTITY,COST,PROFIT,COUNTRIES,REGION,MONTHS,YEARS,username,domain_name
2,10103,Sorvino,sorvi2000@gmail.com,castle lite,180,450,937,421650,252990,Togo,southsouth,March,2018,sorvi2000,gmail.com
14,10115,Morgan,morganny@gmail.com,trophy,150,200,939,187800,46950,Senegal,southsouth,March,2018,morganny,gmail.com
24,10125,Jardine,jard@gmail.com,eagle lager,170,250,715,178750,57200,Senegal,Southeast,January,2018,jard,gmail.com
25,10126,Andrews,andy@gmail.com,hero,150,200,999,199800,49950,Ghana,west,February,2018,andy,gmail.com
33,10134,Sorvino,sorvi2000@gmail.com,beta malt,80,150,804,120600,56280,Benin,northwest,October,2018,sorvi2000,gmail.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000,11101,Andrews,andy@gmail.com,grand malt,90,150,910,136500,54600,Ghana,northeast,May,2018,andy,gmail.com
1008,11109,Andrews,andy@gmail.com,trophy,150,200,912,182400,45600,Benin,Southeast,January,2018,andy,gmail.com
1009,11110,Jardine,jard@gmail.com,budweiser,250,500,734,367000,183500,Senegal,west,February,2018,jard,gmail.com
1018,11119,Morgan,morganny@gmail.com,eagle lager,170,250,832,208000,66560,Benin,northeast,November,2018,morganny,gmail.com
1041,11142,Andrews,andy@gmail.com,beta malt,80,150,740,111000,51800,Nigeria,northwest,October,2018,andy,gmail.com

In [76]:
#2. The profit of yahoo mail in the last 2 years in Francophone Countries
#3. Highest sales personnel of budweiser in senegal using uk.com mail
#4. which brand that uses yahoomail sold the highest in 2019 in south south nigeria
#5.profit of yahoo mail in december 2019
#6. the profit of gmail in the anglophone countries in the last 2 years
#7. display the dataframe that shows all the columns for the minimum profit

In [77]:
dict1 = {'1' : 'one', '2' : 'two', '3' : 'three', '4':'four', '5':5
       } 
dict1

{'1': 'one', '2': 'two', '3': 'three', '4': 'four', '5': 5}

In [78]:
for k,v in dict1.items():
    print(f'{k} is spelt as {v+v}')

1 is spelt as oneone
2 is spelt as twotwo
3 is spelt as threethree
4 is spelt as fourfour
5 is spelt as 10

In [79]:
for i in dict1:
    print(i)

1
2
3
4
5

`Answers to the questions above`

In [80]:
#2. The profit of yahoo mail in the last 2 years in Francophone Countries

In [81]:
franco[['USERNAME','DOMAIN']] = franco['EMAILS'].str.split('@', expand = True)

/var/folders/94/jfhnytlx5kz_c2mk3j8k5qgh0000gn/T/ipykernel_34685/244532325.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  franco[['USERNAME','DOMAIN']] = franco['EMAILS'].str.split('@', expand = True)
/var/folders/94/jfhnytlx5kz_c2mk3j8k5qgh0000gn/T/ipykernel_34685/244532325.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  franco[['USERNAME','DOMAIN']] = franco['EMAILS'].str.split('@', expand = True)

In [82]:
franco

,SALES_ID,SALES_REP,EMAILS,BRANDS,PLANT_COST,UNIT_PRICE,QUANTITY,COST,PROFIT,COUNTRIES,REGION,MONTHS,YEARS,USERNAME,DOMAIN
2,10103,Sorvino,sorvi2000@gmail.com,castle lite,180,450,937,421650,252990,Togo,southsouth,March,2018,sorvi2000,gmail.com
3,10104,Jones,jone.ai@yahoo.com,eagle lager,170,250,765,191250,61200,Benin,northwest,April,2018,jone.ai,yahoo.com
4,10105,Andrews,andy@gmail.com,hero,150,200,836,167200,41800,Senegal,northeast,May,2017,andy,gmail.com
7,10108,Jones,jone.ai@yahoo.com,trophy,150,200,812,162400,40600,Togo,west,August,2018,jone.ai,yahoo.com
8,10109,Morgan,morganny@gmail.com,budweiser,250,500,700,350000,175000,Benin,southsouth,September,2019,morganny,gmail.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1038,11139,Gill,gillhell@uk.com,castle lite,180,450,907,408150,244890,Benin,Southeast,July,2017,gillhell,uk.com
1039,11140,Sorvino,sorvi2000@gmail.com,eagle lager,170,250,949,237250,75920,Senegal,west,August,2017,sorvi2000,gmail.com
1042,11143,Jardine,jard@gmail.com,grand malt,90,150,962,144300,57720,Togo,northeast,November,2017,jard,gmail.com
1043,11144,Jardine,jard@gmail.com,trophy,150,200,892,178400,44600,Benin,northcentral,December,2017,jard,gmail.com
1044,11145,Andrews,andy@gmail.com,budweiser,250,500,816,408000,204000,Senegal,Southeast,January,2019,andy,gmail.com

In [83]:
#2. The profit of yahoo mail in the last 2 years in Francophone Countries
franco_yahoo = franco[franco.DOMAIN.isin(['yahoo.com'])&franco.YEARS.isin([2019,2018])]
franco_yahoo

,SALES_ID,SALES_REP,EMAILS,BRANDS,PLANT_COST,UNIT_PRICE,QUANTITY,COST,PROFIT,COUNTRIES,REGION,MONTHS,YEARS,USERNAME,DOMAIN
3,10104,Jones,jone.ai@yahoo.com,eagle lager,170,250,765,191250,61200,Benin,northwest,April,2018,jone.ai,yahoo.com
7,10108,Jones,jone.ai@yahoo.com,trophy,150,200,812,162400,40600,Togo,west,August,2018,jone.ai,yahoo.com
12,10113,Smith,smithMan@yahoo.com,beta malt,80,150,731,109650,51170,Togo,Southeast,January,2018,smithMan,yahoo.com
17,10118,Kivell,kivel_go@yahoo.com,eagle lager,170,250,910,227500,72800,Togo,northcentral,June,2018,kivel_go,yahoo.com
18,10119,Smith,smithMan@yahoo.com,hero,150,200,996,199200,49800,Benin,Southeast,July,2019,smithMan,yahoo.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017,11118,Jones,jone.ai@yahoo.com,castle lite,180,450,968,435600,261360,Togo,northwest,October,2019,jone.ai,yahoo.com
1019,11120,Jones,jone.ai@yahoo.com,hero,150,200,763,152600,38150,Senegal,northcentral,December,2018,jone.ai,yahoo.com
1022,11123,Smith,smithMan@yahoo.com,trophy,150,200,988,197600,49400,Togo,southsouth,March,2018,smithMan,yahoo.com
1033,11134,Kivell,kivel_go@yahoo.com,hero,150,200,860,172000,43000,Benin,west,February,2018,kivel_go,yahoo.com
1034,11135,Jones,jone.ai@yahoo.com,beta malt,80,150,811,121650,56770,Senegal,southsouth,March,2019,jone.ai,yahoo.com

In [84]:
#profit of yahoo mail customer by country.
franco_yahoo['PROFIT'].sum()

14560290

In [85]:
#3. Highest sales personnel of budweiser in senegal using uk.com mail
df_senegal= df[(df["COUNTRIES"]=='Senegal')]
df_senegal

,SALES_ID,SALES_REP,EMAILS,BRANDS,PLANT_COST,UNIT_PRICE,QUANTITY,COST,PROFIT,COUNTRIES,REGION,MONTHS,YEARS,username,domain_name
4,10105,Andrews,andy@gmail.com,hero,150,200,836,167200,41800,Senegal,northeast,May,2017,andy,gmail.com
9,10110,Howard,howard_freeman@yahoo.com,castle lite,180,450,745,335250,201150,Senegal,northwest,October,2017,howard_freeman,yahoo.com
14,10115,Morgan,morganny@gmail.com,trophy,150,200,939,187800,46950,Senegal,southsouth,March,2018,morganny,gmail.com
19,10120,Parent,parentty@uk.com,beta malt,80,150,731,109650,51170,Senegal,west,August,2017,parentty,uk.com
24,10125,Jardine,jard@gmail.com,eagle lager,170,250,715,178750,57200,Senegal,Southeast,January,2018,jard,gmail.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1024,11125,Gill,gillhell@uk.com,castle lite,180,450,900,405000,243000,Senegal,northeast,May,2019,gillhell,uk.com
1029,11130,Andrews,andy@gmail.com,trophy,150,200,953,190600,47650,Senegal,northwest,October,2017,andy,gmail.com
1034,11135,Jones,jone.ai@yahoo.com,beta malt,80,150,811,121650,56770,Senegal,southsouth,March,2019,jone.ai,yahoo.com
1039,11140,Sorvino,sorvi2000@gmail.com,eagle lager,170,250,949,237250,75920,Senegal,west,August,2017,sorvi2000,gmail.com
1044,11145,Andrews,andy@gmail.com,budweiser,250,500,816,408000,204000,Senegal,Southeast,January,2019,andy,gmail.com

In [86]:
df_senegal_uk_bud = df_senegal[(df_senegal.BRANDS == 'budweiser')&(df_senegal.domain_name == 'uk.com')]
df_senegal_uk_bud_sales = df_senegal_uk_bud.groupby(['SALES_REP'])['QUANTITY'].sum().sort_values(ascending =False)
df_senegal_uk_bud_sales

SALES_REP
Parent      1842
Gill         966
Thompson     729
Name: QUANTITY, dtype: int64

In [87]:
#4. which brand that uses yahoomail sold the highest in 2019 in south south nigeria
southsouth_ng[['USERNAME','DOMAIN']] = southsouth_ng.EMAILS.str.split('@',expand = True)

/var/folders/94/jfhnytlx5kz_c2mk3j8k5qgh0000gn/T/ipykernel_34685/2227292998.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  southsouth_ng[['USERNAME','DOMAIN']] = southsouth_ng.EMAILS.str.split('@',expand = True)
/var/folders/94/jfhnytlx5kz_c2mk3j8k5qgh0000gn/T/ipykernel_34685/2227292998.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  southsouth_ng[['USERNAME','DOMAIN']] = southsouth_ng.EMAILS.str.split('@',expand = True)

In [88]:
southsouth_ng_2019_yahoo = southsouth_ng[(southsouth_ng['YEARS']== 2019)&(southsouth_ng['DOMAIN']== 'yahoo.com')]
southsouth_ng_2019_yahoo_topb = southsouth_ng_2019_yahoo.groupby(['BRANDS'])['QUANTITY'].sum().sort_values(ascending = False)
southsouth_ng_2019_yahoo_topb

BRANDS
hero           2760
budweiser       847
castle lite     847
beta malt       827
trophy          724
Name: QUANTITY, dtype: int64

In [89]:
#5.profit of yahoo mail in december 2019

In [90]:
df_2019[['USERNAME','DOMAIN']] = df_2019.EMAILS.str.split('@',expand = True)
df_2019_yahoo_profit_dec = df_2019[(df_2019.DOMAIN=='yahoo.com')& (df_2019.MONTHS=='December')]['PROFIT'].sum()#.groupby(['EMAILS'])['PROFIT'].
df_2019_yahoo_profit_dec

/var/folders/94/jfhnytlx5kz_c2mk3j8k5qgh0000gn/T/ipykernel_34685/4114623658.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2019[['USERNAME','DOMAIN']] = df_2019.EMAILS.str.split('@',expand = True)
/var/folders/94/jfhnytlx5kz_c2mk3j8k5qgh0000gn/T/ipykernel_34685/4114623658.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2019[['USERNAME','DOMAIN']] = df_2019.EMAILS.str.split('@',expand = True)

662410

In [91]:
#6. the profit of gmail in the anglophone countries in the last 2 years
anglo[['USERNAME','DOMAIN']] = anglo.EMAILS.str.split('@', expand = True)
anglo_gmail_1819 = anglo[(anglo.DOMAIN =='gmail.com')&((anglo.YEARS ==2018)|(anglo.YEARS ==2019))].groupby(['DOMAIN'])['PROFIT'].sum().sort_values(ascending = False)

/var/folders/94/jfhnytlx5kz_c2mk3j8k5qgh0000gn/T/ipykernel_34685/2585715286.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  anglo[['USERNAME','DOMAIN']] = anglo.EMAILS.str.split('@', expand = True)
/var/folders/94/jfhnytlx5kz_c2mk3j8k5qgh0000gn/T/ipykernel_34685/2585715286.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  anglo[['USERNAME','DOMAIN']] = anglo.EMAILS.str.split('@', expand = True)

In [92]:
anglo_gmail_1819

DOMAIN
gmail.com    9091730
Name: PROFIT, dtype: int64

In [93]:
#7. display the dataframe that shows all the columns for the minimum profit

In [94]:
df_min =df['PROFIT'].min()

In [95]:
df[df['PROFIT'] == df['PROFIT'].min()]

,SALES_ID,SALES_REP,EMAILS,BRANDS,PLANT_COST,UNIT_PRICE,QUANTITY,COST,PROFIT,COUNTRIES,REGION,MONTHS,YEARS,username,domain_name
371,10472,Howard,howard_freeman@yahoo.com,trophy,150,200,700,140000,35000,Nigeria,northcentral,December,2017,howard_freeman,yahoo.com

In [96]:
df[df['PROFIT'] == df['PROFIT'].max()]

,SALES_ID,SALES_REP,EMAILS,BRANDS,PLANT_COST,UNIT_PRICE,QUANTITY,COST,PROFIT,COUNTRIES,REGION,MONTHS,YEARS,username,domain_name
310,10411,Jones,jone.ai@yahoo.com,castle lite,180,450,997,448650,269190,Ghana,northeast,November,2019,jone.ai,yahoo.com
709,10810,Howard,howard_freeman@yahoo.com,castle lite,180,450,997,448650,269190,Senegal,west,February,2019,howard_freeman,yahoo.com

In [97]:
df = df.reset_index()

In [98]:
df['index'].dtype

dtype('int64')

In [99]:
#Slicing through a DataFrame
df.loc[3:50]

,index,SALES_ID,SALES_REP,EMAILS,BRANDS,PLANT_COST,UNIT_PRICE,QUANTITY,COST,PROFIT,COUNTRIES,REGION,MONTHS,YEARS,username,domain_name
3,3,10104,Jones,jone.ai@yahoo.com,eagle lager,170,250,765,191250,61200,Benin,northwest,April,2018,jone.ai,yahoo.com
4,4,10105,Andrews,andy@gmail.com,hero,150,200,836,167200,41800,Senegal,northeast,May,2017,andy,gmail.com
5,5,10106,Jardine,jard@gmail.com,beta malt,80,150,798,119700,55860,Ghana,northcentral,June,2019,jard,gmail.com
6,6,10107,Thompson,thomp@uk.com,grand malt,90,150,954,143100,57240,Nigeria,Southeast,July,2017,thomp,uk.com
7,7,10108,Jones,jone.ai@yahoo.com,trophy,150,200,812,162400,40600,Togo,west,August,2018,jone.ai,yahoo.com
8,8,10109,Morgan,morganny@gmail.com,budweiser,250,500,700,350000,175000,Benin,southsouth,September,2019,morganny,gmail.com
9,9,10110,Howard,howard_freeman@yahoo.com,castle lite,180,450,745,335250,201150,Senegal,northwest,October,2017,howard_freeman,yahoo.com
10,10,10111,Parent,parentty@uk.com,eagle lager,170,250,861,215250,68880,Ghana,northeast,November,2017,parentty,uk.com
11,11,10112,Jones,jone.ai@yahoo.com,hero,150,200,902,180400,45100,Nigeria,northcentral,December,2019,jone.ai,yahoo.com
12,12,10113,Smith,smithMan@yahoo.com,beta malt,80,150,731,109650,51170,Togo,Southeast,January,2018,smithMan,yahoo.com
13,13,10114,Jones,jone.ai@yahoo.com,grand malt,90,150,843,126450,50580,Benin,west,February,2017,jone.ai,yahoo.com
14,14,10115,Morgan,morganny@gmail.com,trophy,150,200,939,187800,46950,Senegal,southsouth,March,2018,morganny,gmail.com
15,15,10116,Jones,jone.ai@yahoo.com,budweiser,250,500,709,354500,177250,Ghana,northwest,April,2019,jone.ai,yahoo.com
16,16,10117,Parent,parentty@uk.com,castle lite,180,450,837,376650,225990,Nigeria,northeast,May,2017,parentty,uk.com
17,17,10118,Kivell,kivel_go@yahoo.com,eagle lager,170,250,910,227500,72800,Togo,northcentral,June,2018,kivel_go,yahoo.com
18,18,10119,Smith,smithMan@yahoo.com,hero,150,200,996,199200,49800,Benin,Southeast,July,2019,smithMan,yahoo.com
19,19,10120,Parent,parentty@uk.com,beta malt,80,150,731,109650,51170,Senegal,west,August,2017,parentty,uk.com
20,20,10121,Gill,gillhell@uk.com,grand malt,90,150,898,134700,53880,Ghana,southsouth,September,2017,gillhell,uk.com
21,21,10122,Smith,smithMan@yahoo.com,trophy,150,200,860,172000,43000,Nigeria,northwest,October,2018,smithMan,yahoo.com
22,22,10123,Jones,jone.ai@yahoo.com,budweiser,250,500,859,429500,214750,Togo,northeast,November,2017,jone.ai,yahoo.com
23,23,10124,Sorvino,sorvi2000@gmail.com,castle lite,180,450,857,385650,231390,Benin,northcentral,December,2017,sorvi2000,gmail.com
24,24,10125,Jardine,jard@gmail.com,eagle lager,170,250,715,178750,57200,Senegal,Southeast,January,2018,jard,gmail.com
25,25,10126,Andrews,andy@gmail.com,hero,150,200,999,199800,49950,Ghana,west,February,2018,andy,gmail.com
26,26,10127,Howard,howard_freeman@yahoo.com,beta malt,80,150,982,147300,68740,Nigeria,southsouth,March,2017,howard_freeman,yahoo.com
27,27,10128,Gill,gillhell@uk.com,grand malt,90,150,920,138000,55200,Togo,northwest,April,2018,gillhell,uk.com
28,28,10129,Gill,gillhell@uk.com,trophy,150,200,875,175000,43750,Benin,northeast,May,2017,gillhell,uk.com
29,29,10130,Kivell,kivel_go@yahoo.com,budweiser,250,500,945,472500,236250,Senegal,northcentral,June,2019,kivel_go,yahoo.com
30,30,10131,Jones,jone.ai@yahoo.com,castle lite,180,450,794,357300,214380,Ghana,Southeast,July,2019,jone.ai,yahoo.com
31,31,10132,Morgan,morganny@gmail.com,eagle lager,170,250,826,206500,66080,Nigeria,west,August,2017,morganny,gmail.com
32,32,10133,Kivell,kivel_go@yahoo.com,hero,150,200,1000,200000,50000,Togo,southsouth,September,2019,kivel_go,yahoo.com
33,33,10134,Sorvino,sorvi2000@gmail.com,beta malt,80,150,804,120600,56280,Benin,northwest,October,2018,sorvi2000,gmail.com
34,34,10135,Gill,gillhell@uk.com,grand malt,90,150,890,133500,53400,Senegal,northeast,November,2017,gillhell,uk.com
35,35,10136,Sorvino,sorvi2000@gmail.com,trophy,150,200,870,174000,43500,Ghana,northcentral,December,2017,sorvi2000,gmail.com
36,36,10137,Thompson,thomp@uk.com,budweiser,250,500,821,410500,205250,Nigeria,Southeast,January,2017,thomp,uk.com
37,37,10138,Andrews,andy@gmail.com,castle lite,180,450,950,427500,256500,Togo,west,February,2018,andy,gmail.com
38,38,10139,Jardine,jard@gmail.com,eagle lager,170,250,784,196000,62720,Benin,southsouth,March,2019,jard,gmail.com
39,39,10140,Jardine,jard@gmail.com,hero,150,200,999,199800,49950,Senegal,northwest,April,2019,jard,gmail.com
40,40,10141,Andrews,andy@gmail.com,beta malt,80,150,894,134100,62580,Ghana,northeast,May,2019,andy,gmail.com
41,41,10142,Jardine,jard@gmail.com,grand malt,90,150,827,124050,49620,Nigeria,northcentral,June,2017,jard,gmail.com
42,42,10143,Gill,gillhell@uk.com,trophy,150,200,779,155800,38950,Togo,Southeast,July,2018,gillhell,uk.com
43,43,10144,Sorvino,sorvi2000@gmail.com,budweiser,250,500,835,417500,208750,Benin,west,August,2017,sorvi2000,gmail.com
44,44,10145,Jones,jone.ai@yahoo.com,castle lite,180,450,801,360450,216270,Senegal,southsouth,September,2018,jone.ai,yahoo.com
45,45,10146,Andrews,andy@gmail.com,eagle lager,170,250,710,177500,56800,Ghana,northwest,October,2017,andy,gmail.com
46,46,10147,Jardine,jard@gmail.com,hero,150,200,952,190400,47600,Nigeria,northeast,November,2017,jard,gmail.com
47,47,10148,Thompson,thomp@uk.com,beta malt,80,150,891,133650,62370,Togo,northcentral,December,2017,thomp,uk.com
48,48,10149,Jones,jone.ai@yahoo.com,grand malt,90,150,781,117150,46860,Benin,Southeast,January,2018,jone.ai,yahoo.com
49,49,10150,Morgan,morganny@gmail.com,trophy,150,200,845,169000,42250,Senegal,west,February,2019,morganny,gmail.com
50,50,10151,Howard,howard_freeman@yahoo.com,budweiser,250,500,719,359500,179750,Ghana,southsouth,March,2018,howard_freeman,yahoo.com